@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  background-color: black;
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}
#Header {
  color: white;
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 5px;
  border-bottom: 1px solid rgb(26, 25, 25);
  padding-top: 10px;
 
}
h1 {
  margin-top: 10px;
  opacity: 80%;

}
#Banner {
  color: white;
  margin-top: 10px;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/banner/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#About {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  flex-direction: column;
  font-weight: 200;
  font-size: 40px;
  left: 0;
  right: 0;
  text-align: center;
  top: 590px;
  background-color: transparent;
}
h2 {
  background-color: transparent;
  opacity: 40%;
  letter-spacing: 5px;
}
#Banner img {
  height: 20px;
  width: 20px;
  background-color: transparent;
  align-self: center;
  margin-top: 10px;
}
#Content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#Description {
  text-align: center;
  font-size: larger;
  width: 75vw;
  color: white;
}
#Section_row_one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 50vh;
}
#card_one {
  height: 150px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 60px #b2314a;
}
#titleOne {
  margin-top: 20px;
  margin-left: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#card_one img {
  background-color: white;
  height: 20px;
  width: 25px;
  margin-right: 5px;
  margin-top: -3px;
}
p {
  margin-top: 5px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px;
}
#card_two {
  height: 150px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 60px #b2314a;
}
#titleTwo {
  margin-top: 20px;
  margin-left: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#card_two img {
  background-color: white;
  height: 20px;
  width: 25px;
  margin-right: 5px;
  margin-top: -3px;
}
#card_three {
  height: 150px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 60px #b2314a;
}
#titleThree {
  margin-top: 20px;
  margin-left: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#card_three img {
  background-color: white;
  height: 20px;
  width: 25px;
  margin-right: 5px;
  margin-top: -3px;
}

#Section_row_two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 30vh;
}
#card_one_two {
  height: 150px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 60px #b2314a;
}
#titleFour {
  margin-top: 20px;
  margin-left: 95px;
  height: 30px;
  width: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#card_one_two img {
  background-color: white;
  height: 20px;
  width: 25px;
  margin-right: 5px;
  margin-top: -3px;
}
#card_two_two {
  height: 150px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 60px #b2314a;
}
#titleFive {
  margin-top: 20px;
  margin-left: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#card_two_two img {
  background-color: white;
  height: 20px;
  width: 25px;
  margin-right: 5px;
  margin-top: -3px;
}
#Footer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  color: chocolate;
  width: 100vw;
  border-top: 2px solid rgb(26, 25, 25);
  padding-bottom: 30px;
}
h5 {
  margin-top: 5px;
  color: rgb(226, 220, 39);
  letter-spacing: 2px;
}
